.factoid {
    background-color:rgb(188, 233, 218);
    border: 2px solid indianred;
    padding: 1em 2em; /*T R B L (= top right bottom left)*/
    text-align:center;
}

/*
.true {
    background-color: green;
}
*/

.true:active {
    background-color: aquamarine;
}

.lie:active {
    background-color: indianred;
}

#lie:active {
    visibility: hidden;
}

.factoid h3 {
    color: indianred;
}

body {
    display: block;
    width: 350px;
    margin: auto;
}